<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Potin n°<%= gossip.id %></title>
</head>
<body>
  <h1>Voici la page du potin n°<%= gossip.id %></h1>
  <p>Son auteur : <%= gossip.author %></p>
  <p>Le contenu du potin : <%= gossip.content %></p>
  <a href="/">Retour à la liste des potins</a>
</body>
</html>