<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Potin n°<%= @gossip.id %></title>
</head>
<body>
  <h1>PAGE POTIN</h1>
  <h2>Voici la page du potin n°<%= @gossip.id %></h2>
  <p>Son auteur : <%= @gossip.author %></p>
  <p>Le contenu du potin : <%= @gossip.content %></p>
  <a href="/">Lien pour revenir à la page des potins</a>
</body>
</html>